<!DOCTYPE html>
 <html lang="en" xmlns:th="http://www.thymeleaf.org"><head>
    <meta charset="ISO-8859-1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HealthCommunicatorsForumBoardMembersProfile</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/album/">

<link href="/bootstrap-5.2.0/css/bootstrap.min.css" rel="stylesheet" integrity="" crossorigin="anonymous">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <style>
  
    </style>
    <!-- Custom styles for this template -->
    <link href="carousel.css" rel="stylesheet">
  </head>
  <body>
    <div class="container-fluid"> 
<header class="site-header sticky-top py-1">
  <nav class="container-fluid d-flex navbar navbar-expand-lg bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="media/logo.png" width="100" height="100" fill="none" stroke="currentColor" stroke-linecap="round"
             stroke-linejoin="round" stroke-width="2" class="d-block mx-auto" role="img" viewBox="0 0 24 24">
        <title>Product</title>
        <circle cx="12" cy="12" r="10"></circle>
        <path
          d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="BoardProfile.html">Board Members</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Health.html">Health Stories</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="ScienceCafe.html">Science Cafe</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Gallery.html">Gallery</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#footer">Contact Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#footer">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="LogIn.html">LogIn</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-info" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
    </header>
    <main>
<center>

  <div class="card" style="width: 20rem;">
    <img src="media/Anna.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h4>Anna Miti Chairperson</h4>
          <p class="card-text">
            Anna Miti is a development practitioner and media trainer with a long background in broadcast media. She is a former AVAC advocacy fellow and an IAS Advocacy for Cure Fellow and grantee.She writes health and science articles and blogs for different platforms.
    </div>
  </div><br>
  <div class="card" style="width: 20rem;">
    <img src="media/Catherine.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h4>Catherine Murombedzi</h4>
          <p class="card-text">
Catherine Murombedzi, nee Mwauyakufa, is the Vice Chairman of the Health Communicators Forum, (HCF). She is a veteran health and development journalist with experience spanning over two decades. She sits on several boards in the health sector and is an award winning writer.
She is a Fellow of CNS Health. Catherine is open to learning at every given opportunity.
    </div>
  </div><br>
  <div class="card" style="width: 20rem;">
    <img src="media/SG.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h4>Michael Gwarisa</h4>
      <p class="card-text">
        Michael Gwarisa is the Secretary General for the Health Communicators Forum (HCF). Michael is a multi-award winning health Journalist and editor for the HealthTimes, a leading online health news publication in Zimbabwe. 
</div>
  </div><br>
  <div class="card" style="width: 20rem;">
    <img src="media/Itai.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h4> Itai Muzondo</h4>
          <p class="card-text">
            Itai Muzondo is Gweru based journalist and Director for Community Talk, a community media initiative based in the Midlands Province. His main interests in health reporting are investigative pieces, data driven reports and documentary production.
</div>
  </div><br>
      <div class="card" style="width: 20rem;">
        <img src="media/Robin.png" class="card-img-top" alt="..." height="300px">
        <div class="card-body">
          <h4>     Robin Nyembezi Muchetu</h4>
          <p class="card-text">
Robin Nyembezi Muchetu is Senior Gender and Health Reporter at the Sunday News with 12 years experience in mainstream media. A passionate health journalist concerned also about the plight of marginalised women and girls in Zimbabwe.
                                     </div>
      </div><br>

      <div class="card" style="width: 20rem;">
        <img src="media/IMG-20220524-WA0003.jpg" class="card-img-top" alt="..." height="300px">
        <div class="card-body">
          <h4>Hazvinei Martha Mwanaka</h4>
          <p class="card-text">
             She is a freelance journalist currently based in Masvingo and holds a Bachelor’s degree in Media studies. Community service, development and the silent suffering of those people who get less attention inspired me into reporting mainly on humanitarian issues, community, health and environment. With information and communication being the backbone of an effective functioning of communities and those who govern them, journalism has been my tool in an effort to bring a spirit of harmony and development in society.
             </div>
      </div><br>

      <div class="card" style="width: 25rem;">
        <img src="media/Treasure.jpg" class="card-img-top" alt="..." height="300px">
        <div class="card-body">
          <h4>Ropa</h4>
          <p class="card-text">
            I have been actively working for the media in Zimbabwe for 42 years including a one year stint with a local ngo where I was hired as a programmes coordinator. I have worked for Moto Newspaper, Department of Information, Zimbabwe Newspapers at Kwayedza/Umthunywa, Herald and Sunday Mail and Newsday. I am currently working as a freelance radio broadcaster. The height of career was when I became an Assistant Editor of The Herald, the first woman in the company to rise to that position. I have three children and three grandchildren</p>
             </div>
      </div><br>
      
</center>

</main>

<footer class=" bg-dark container-fluid py-5">
  <div class="row">
    <div class="col-12 col-md">
      <img src="media/logo%20hcf.png" width="200" height="200" fill="none" stroke="currentColor"
           stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="d-block mx-auto" role="img"
           viewBox="0 0 24 24">
      <title>Product</title>
      <circle cx="12" cy="12" r="10"></circle>
      <path
        d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94">
        <small class="d-block mb-3">©2022</small>
    </div>
    <div class="col-6 col-md text-primary">
      <h5 class="text-light">Contact Us</h5>
      <ul class="list-unstyled text-small">
        <li><a class="link-secondary text-primary" href="#"></a></li>
        <li>
          <img src="media/images-removebg-preview%20(41).png" height="25" width="25">
          <p class="link-secondary text-primary" href="#"> 38 Harvey Brown Avenue,<br>Harare, <br>Zimbabwe</p>
        </li>
        <li>
          <img src="media/images-removebg-preview.png" height="25" width="25">
          <p class="link-secondary text-primary" href="#">admin@healthtcommunicatorsforum.co.zw </p></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5 class="text-light">About</h5>
          <p class="text-primary"> The Health Communicators Forum is a network of Journalists, communicators and other media persons
          with a keen interest or directly work in health information. Our aim is to be the bridge between
          journalists, researchers, communicators, and the community. We sincerely believe that health is more
          than a news story, but a matter of life and death for everyone. Our members are active journalists.
          Bloggers and news writers from diverse backgrounds</p>
      <p class="year">©2022</p>
    </div>
    
  </div>
</footer>
    </div>
    <script src="/www.HealthCommunicatorsForum/bootstrap-5.2.0/js/bootstrap.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

  

</body></html>